<section class="post">
    <header class="post-header">
        <!-- img class="post-avatar" alt="Eric Ferraiuolo&#x27;s avatar" height="48" width="48" src="img/common/ericf-avatar.png" -->
        <h2 class="post-title">
                <a href="$url$" style="color:black;">$title$ </a>
        </h2>
        <p class="post-meta">
            By <a class="post-author" href="#">$author$</a> on $date$ under <!-- a class="post-category post-category-js" href="#">Javascript</a -->
        </p>
    </header>

    <div class="post-description">
        <p>
            $description$
        </p>
    </div>
</section>
